.ko-text {
    color: rgb(113 136 133);
}

.ko-button {
    background-color: #718885!important;
    border-radius: 14px!important;
    color: white!important;
}

.ko-div {
    background-color: #718885!important;
    border-radius: 14px!important;
    color: white!important;
}